.cart-page {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  text-align: left;
  background-color: #f8f9fa;
}

.search-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; 
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 12px 20px; 
  font-size: 1rem;
  border-radius: 25px; 
  border: 1px solid #ddd; 
  background-color: #fff; 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s; 
}
.search-bar:focus {
  outline: none; 
  border-color: #007bff; 
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.2); 
}
.search-bar::placeholder {
  color: #aaa; 
  font-style: italic; 
  transition: color 0.3s ease;
}



.categories-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;  
  gap: 10px;  
  margin-bottom: 20px;  
}

.category-item {
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 20px;
  background: #808080;
  border: 1px solid #ddd;
  text-align: center;
}

.category-item.active {
  background: #0056b3;
  color: white;
}


.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 900px;
  justify-items: center;
}

.cart-container {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.cart-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 15px;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 15px;
}

.cart-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6f4f1f;
  margin: 0 0 10px;
}

.cart-button {
  background-color: #808080;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.cart-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

