.container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


.register-link {
  margin-top: 15px;
  text-align: center;  
   color: #000000;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

