.top-bar, .top-bar-user {
  background-color: #6f4f1f; 
  color: white;
  padding: 20px;
  font-size: 1.10rem;
  display: flex;
  justify-content: space-between; /* Adjusted to allow space for the phone number */
  align-items: center;
  height: 40px;
  position: relative;
  z-index: 1;
}

.phone-number {
  font-size: 1.10rem;
  color: white;
  font-weight: bold;
}

.top-bar p, .top-bar-user p {
  margin: 0;
  font-size: 1.10rem;
  line-height: 40px;
}

.top-bar ul, .top-bar-user ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 0;
  align-items: center;
}

.top-bar li, .top-bar-user li {
  font-size: 1.10rem;
}

.top-bar a, .top-bar-user a {
  color: white;
  text-decoration: none;
  font-size: 1.10rem;
  transition: color 0.3s ease;
}

.top-bar a:hover, .top-bar-user a:hover {
  color: #00bcd4;
}

.cart-icon {
  width: 42px;
  height: 42px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: block;
  align-self: center;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.logout-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 1.10rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.logout-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button:focus {
  outline: 2px solid #e64a19;
  box-shadow: 0 0 5px #e64a19;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-title {
  font-size: 1.575rem;
  font-weight: bold;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #00bcd4;
}

.navbar-links a:focus {
  outline: 2px solid #00bcd4;
  border-radius: 2px;
}

.body {
  background-color: #f8f9fa;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 14.7px;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 20px;
  text-align: center;
}
