.genre-buttons button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.genre-buttons button:hover {
  background-color: #45a049;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-item {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.book-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.book-details {
  margin-top: 10px;
}

.book-price {
  font-weight: bold;
  color: #333;
}

.add-to-cart-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #45a049;
}

